/*------------------------------------*\
    $PAGE
\*------------------------------------*/

/**
 * Page-level wrapper.
 */
.wrapper {
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;
}

.masthead {
  background: $green url(../images/bgs/home-bg.jpg) no-repeat center top;
  height: 675px;
  padding-top: 190px;
  text-align: center;

  h1 {
    color: $default-color;
    font-family: $brand-sans-serif;
    margin-bottom: 10px;
    text-transform: uppercase;

    @include font-size(60px);
  }

  h2 {
    color: $default-color;
    font-family: $sec-sans-serif;
    font-weight: 400;
    margin-bottom: 30px;

    @include font-size(18px);
  }
}