/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

html, body {
  height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
}

body {
  background-image: url(/img/bodypattern.png);
  background-position: initial initial;
  background-repeat: initial initial;
}

.container {
  /*background-image: url(/img/contentpattern.png);*/
  background-position: initial initial;
  background-repeat: initial initial;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  display: table;
}

.main {
  text-align: center;
  /*display: table-cell; vertical-align: middle;*/
  margin-top: 10%;
}

.wrapper {
  margin-top: 10px;
}

.navigation {
  display: block;
  text-align: center;
  /*border-top: 1px solid #d3d3d3;*/
  border-bottom: 1px solid #d3d3d3;
  margin: 10px auto 0;
  min-height: 35px;
  padding: 12px 0 0;

  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing:6px;
  font-size: 2em;
}

nav ul li, .navigation ul li{
  display: inline;
  margin: 5px 15px;
}

.navigation a {
  text-decoration: none;
}

.navigation a:hover {
  color: #2ecc71;
}

.navigation a:active, .navigation a.active {
  color: #27ad60; 
}

.logo img {
  height: 60px;
  float:left;
  margin-top:10px;
}

strong {
  color: #c02702;
}

.jobs {
  display: table;   /* Allow the centering to work */
  margin: 0 auto;
  margin-top: 10px;
}

.jobs a, .links a {
  text-decoration: none;
}

.jobs li {
  float: left;
  padding: 25px;
}

.jobs div.job-title {
  padding-top: 10px;
  font-size: 1.3em;
}

.image-wrap {
  -webkit-border-radius: 50em;
  -moz-border-radius: 50em;
  border-radius: 50em;
}

h1.name {
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
  letter-spacing:10px;
  font-size: 6em;
}

footer {
  border-top: 3px double #ccc;
  margin-top: 4.5em;
  color: #666;
  font-size: 1em;
}

footer a, footer li a:visited {
  color: #666;
}

footer li a:hover, footer li a:focus { color: #000; }

footer ul {
  padding-top: 0.75em;
}

footer ul.links {>
  margin-right: 0;
  text-align: right;
}

.links li {
  display: inline;
  padding: 6px;
}


/* #Page Styles
================================================== */

/* PORTFOLIO PAGE */

.portfolio-item {
  margin: 10px;
}


img.portfolio{
  height: 200px;
}

img.portfolio-logo{
  width: 300px;
}  

/* TEAM PAGE */

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
          h1.name {
            font-size: 4em;
          }
        }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
          h1.name {
            font-size: 4em;
          }
        }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
          h1.name {
            font-size: 3em;
          }
        }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
          nav ul li, .navigation ul li{
            margin: 5px 6px;
          }

         .jobs li {
           float: none;
           padding-bottom: 10px;
           padding-top: 0px;
         }
          li {
            margin-bottom: 0px;
          }
          h1.name {
            font-size: 3em;
          }
        }


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
