---
layout: default
title: About Us - minuscode
description: We are a multidisciplinary team based in Lisbon ready be challenged in any Web, iOS, Android or UX project.
permalink: /about-us/index.html
---

<div class="masthead masthead-about-us">

  <div class="wrapper">
    <h1>
      <img src="/public/images/misc/about-us.png" alt="We're a small multidisciplinary team based in Europe.">
    </h1>
    <p>
      <span>We provide development, design and management services and we also have been working</span> <span>closely in the startup environment. Our goal is to deliver the most flexible and simple project</span> <span>to fit your needs so that you can manage and work it out after we’ve concluded our work.</span>
      <span>We can also arrange you a marketing strategy based on your objectives and target audience.</span>
    </p>

  </div>

</div><!-- /masthead -->

<div class="content about-us">

  <div class="wrapper shuffle">

    {% for post in site.persons %}

      <div class="member">
        <div class="grid">

          <div class="grid__item one-whole">
            <div class="member-pic">
              <img src="/public/images/team/{{ post.picture }}" alt="">
            </div>
            <hr><!--
            --><div class="grid__item one-whole portable-one-whole">
              <h2>{{ post.alt_name }}</h2>
              <p>
                  <span>{{ post.role }}</span>
              </p>
            </div>
          </div>

        </div>
        {% unless forloop.last %}

        {% endunless %}
      </div><!-- /member -->

    {% endfor %}

  </div>

</div><!-- /about-us -->

{% include contact_us.html %}
