---
layout: default
title: Team
category: team
---

<header class="team">
  <h2>We're a small team sharing one purpose:</h2>
  <span class="tagline">Take your ideas from concept to a great product.</span>
</header>

  <ul>
{% for post in site.posts %}      
  {% if post.categories contains 'team' %}
  <li class="profile five columns">
    <a href="{{ post.profile }}">
      <img class="profile-img" src="{{ post.picture }}">
      <div class="info-text"> 
        <h3>{{ post.title }}</h3>
        <p>
          {{ post.punchline }}
          </br>
          <!-- <em>Posted on {{ post.date | date_to_string }}.</em> -->
        </p>
      </div>
    </a>
  </li> 
  {% endif %}
{% endfor %}
</ul>
