<footer class="main-footer">

  <div class="wrapper">

    <div class="grid">

      <div class="grid__item one-third lap-one-whole palm-one-whole">
        <nav>
          <ul>
            <li><a href="/consulting">Consulting</a></li>
            <li><a href="/about-us">About Us</a></li>
            <li><a href="/work">Work</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div><!--

   --><div class="grid__item one-third lap-one-whole palm-one-whole">
        <a href="/"><img class="logo" src="/images/logos/minuscode.png" alt="minuscode more awesome"></a>
      </div><!--

   --><div class="grid__item one-third lap-one-whole palm-one-whole">
        <ul class="social">
          <li><a class="icon-linkedin" href="http://www.linkedin.com/company/minuscode" title="linkedin"></a></li>
          <li><a class="icon-twitter" href="https://twitter.com/minuscode" title="twitter"></a></li>
          <li><a class="icon-facebook-sign" href="http://www.facebook.com/minuscode" title="facebook"></a></li>
          <li><a class="icon-github" href="https://github.com/minuscode" title="github"></a></li>
        </ul>
      </div>

      <p class="property">© 2014, Minuscode All rights reserved</p>

    </div>

  </div>

</footer>
