/*------------------------------------*\
    $PAGE
\*------------------------------------*/
.btn {
  display: inline-block;
  font-family: $brand-sans-serif;
  padding: 12px 18px;
  text-transform: uppercase;
  text-decoration: none;

  @include font-size(18px);
  border-radius: 2px;
  transition: all 0.3s ease;

  @include media-query(palm) {
    @include font-size(14px);
  }
}

.btn--red {
  background: $red;
  border: 2px solid $red;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 400;

  &:hover {
    background: none;
    color: $red;
  }
}
