
/**
 * Tell inuit.css when breakpoints start.
 */
$lap-start:         481px!default;
$desk-start:        940px!default;
$desk-wide-start:   1200px!default;

$push:              true;
$lap-push:          true;

/*------------------------------------*\
    $FONTS
\*------------------------------------*/
$brand-serif:       'Glegoo', serif;
$brand-sans-serif:  'PT Sans Caption', sans-serif;
$sec-sans-serif:    'Alef', sans-serif;

/*------------------------------------*\
    $COLORS
\*------------------------------------*/
$default-color:     #194f58!default;
$red:               #c94055;
$green:             #cedecb;
$gray-mid:			#848484;
$gray-dark:			#414141;

$gutter:            20px;

/*------------------------------------*\
    $OBJECTS AND ABSTRACTIONS
\*------------------------------------*/
/**
 * Which objects and abstractions would you like to use?
 */
$use-grids:         true!default;