---
layout: default
title: minuscode - Work
category: work
---

<div class="masthead masthead-work">

    <div class="wrapper">
        <h1>Our previous work list</h1>
        <p>never seems big enough</p>
  </div>

</div><!-- /masthead -->

<div class="content work">

  {% for post in site.posts %}

  {% if post.category contains 'work' %}
    <article class="work-item block" style="background-image: url({{ post.image }})">
      <div class="work-info">
        <h2>{{ post.title }}</h2>
        <p>{{ post.subtitle }}</p>
        <ul>
        {% for link in post.links %}
          <li><a href="{{ link.key }}" target="blank" class="icon-{{ link.value }}">{{ link[0] }}</a></li>
        {% endfor %}
        </ul>
      </div>
    </article>
  {%  endif %}

  {% endfor %}

</div><!-- /work -->

{% include contact_us.html %}
