<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Minuscode - tecnology freelancing collective {% if page.title %} - {{ page.title }} {% endif %} </title>
    <meta name="description" content="Minuscode Web page">
    <meta name="keywords" content="Minuscode Web Page, Programming, Machine Learning, Ruby, Rails, Nodejs, Web Development, Mobile, MongoDB, Redis, PHP">
    <meta name="author" content="Minuscode Team">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/styles.css">

    <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png">

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33665278-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- Google Analytics end-->
</head>

<body>
  <div class="container">

      <div class="sixteen columns">
        <div class="logo" role="banner">
          <img src="/img/logo-75x32.png">
        </div>
        <nav role="navigation">
          <ul>
              <li class="menu"><a class="button" href="/">Home</a></li>
              <li class="menu"><a class="button menu" href="/portfolio">What</a></li>
              <li class="menu"><a class="button menu" href="/services">How</a></li>
              <li class="menu"><a class="button menu" href="/team">Who</a></li>
              <li class="menu"><a class="button menu" href="/blog">Blog</a></li>
          </ul>
        </nav>
      </div>
   
      {{ content }}
   
      <footer class="sixteen columns">
        <ul class="six columns alpha">
          <li>
            © 2013 minuscode
          </li> 
        </ul>
        <ul class="links ten columns omega">
          <li><a href="http://github.com/minuscode">GitHub</a></li>
          <li><a href="http://www.linkedin.com/company/minuscode">LinkedIn</a></li>
        </ul>
      </footer>
 
  </div>
</body>
</html>
